@import 'semantic-ui' ;



h1{
    color: blue;
    size: 5rem;
    text-align: center;
}

.chatbox{
    height: 550px;
}

#messages{
    overflow: auto;
    height: 15em;
}

.input{
    button{
        display: none;
    }
}